/* boo hoo*

https://docs.google.com/document/d/15mlhsizDCjFUrfYam_xLWbJ-3qsxkkVMkr1wluQ--fE/edit
*/ 
.upper_header h1{
	text-align: center;
	font-family: 'Rockwell Extra Bold', Impact;
	color: navy;
	font-size: 100px;
}

* {
	padding: 0px;
	margin: 0px;

}

body {
    background-image: url("../img/Plate.jpg");
}

#content {
	width:100%;
	display: -webkit-flex;
	display: flex;
	/*flex: 1;
	-webkit-flex: 1;
*/
}

nav{
	flex: 1;


}

nav > ul {

	border: 1px solid red;
	width: 100%;
	padding: 0px;

}
nav > ul > span > li {
	display: block;

	text-align: center;
	line-height: 50px;

	background: #000000;;
	color: white;
	font-style: bold;
	font-size: 20px;
	font-family: sans-serif;

	border: 1px solid black;
	}

	nav > ul > span > li:hover {
		
		background-color: rgba(0,0,0,0.5); 
	}

#info_screen {
	border: 1px solid violet;
	display: block;
	flex: 4;
	text-align: center;

}

#info_screen > h1{
	margin: 0px;
	width: 100%;
	font-size: 100px;
	border: 1px solid red;

}

#images {
	margin: 0px; 
	display: inline;
	flex:1;
	border: 1px solid blue;

}

#images img{
	 
	height: 25%;
	width: 50%;
	margin:20px;
}

#text {
	display: block;
	flex:2;
	text-align: justify;
	font-size: 25px;
	font-family: 
}	

#img_text {
	  display: -webkit-flex;
  display: flex;
}

