/* boo hoo*

https://docs.google.com/document/d/15mlhsizDCjFUrfYam_xLWbJ-3qsxkkVMkr1wluQ--fE/edit
*/ 
.upper_header h1{
	text-align: center;
	font-family: 'Rockwell Extra Bold', Impact;
	color= blue;
}

#content {
	width: 100%;
	display: -webkit-flex;
	display: flex;
	/*flex: 1;
	-webkit-flex: 1;
*/
}

nav ul {

	border: 1px solid red;


}
nav ul li {
	display: block;
	flex: 1;
	margin-left: -50px;
	
	width: 200px;
	min-width: 100px;
	

	text-align: center;
	line-height: 50px;

	background: blue;
	color: white;

	border: 1px solid black;
	}

#info_screen {
	border: 1px solid violet;
	display: flex;
	flex: 4;

}

.active_tab {


}
